@page
@model PrivacyModel
@{
    ViewData["Title"] = "Interfejs lingwistyka";
}
<h1>@ViewData["Title"]</h1>

<div class="modele">
    <a href="" class="marked">Model 1</a>
    <a href="">Model 2</a>
    <a href="">Model 3</a>
</div>
<div class="modele">
    <a href="">Kryterium 1</a>
    <a href="" class="marked">Kryterium 2</a>
    <a href="">Kryterium 3</a>
</div>
<div class="szczegoly">
    <p>Nazwa kryterium</p>
    <input type="text" value="Kryterium 2"/><br />
    <p>Opis</p>
    <textarea cols="40" rows="10"></textarea><br />
    <input type="submit" value="Zapisz"/>
</div>